/* Estilos general */

* {
  font-family: "Montserrat";
}

/* propiedades */
:root{
    --colorNegro:#000;
    --colorBlanco: #fff;
    --colorPrincipal: #09acd6;
    --colorSecundario: #0051ff;
}

/* Estilos elementos */

h1{
 text-align: center;
}

p{
    text-align: center;
}

h3{
    text-align: center;
}

section{
background-color: aquamarine;
}

main{
    background-color: aqua;
}

a{
color: var(--colorBlanco);
font-family: Arial, Helvetica, sans-serif;
font-size: 12;
text-decoration: none;
}

img{
    width: 20px;
}


/* Estilos clases */
/*.index-header button{
    color: var(--colorBlanco);
    background-color: var(--colorNegro);
    width: 10rem;
    height: 10rem;
     border: 5px solid black;
    margin: 30px;
}
*/
.index-header{
    background-image: url(../img/hotel.jpg);
}

.footerClass{
    color: var(--colorBlanco);
    text-align: center;
    background-color: var(--colorNegro);
}

.buttonClass{
    background-color: var(--colorNegro);
    color: var(--colorBlanco);
}

.seccionInner{
    margin-left: 20px;
}

.ulMenu{
 list-style: none;
}

.imgHabitacion{
    width: 30rem;
    height: 25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/* Estilos ID */

#mainTodoIncluido{
    margin-left: 20px;
}

#seccionHabitacion{
    text-align: center;
    
}

.heroCarousel{
    width: 70% !important;
}

.contenedor-flex-habitacion{
    display: flex;
    gap: 1rem;
}


.habitacion-titulo{
    text-align: center;
    font-size: 1.8rem;
}

.habitacion-titulo span{
color: var(--colorSecundario);
}


.habitacion-card img{
    height: 20rem;
     width: 20rem;
}

.habitacion-card-titulo{
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.habitacion-card-descripcion{
    font-weight: 0.9rem;
   color: #565656;
   margin-top: 0;
}


.producto-precio{
    color: rgb(65, 100, 12);
}

/* responsivo celular */
@media (min-width: 0px) and (max-width: 576px) {
    .contenedor-flex-habitacion{
        display: flex;
        flex-direction: column;
    }

    .habitacion-card{
        width: 100%;
        background-color:aliceblue;
        padding: 0.5rem;
    }  
}

/* responsivo computadora */
@media (min-width:577px)  {
    .contenedor-flex-habitacion{
        display: flex;
        gap: 1rem;
    }

    .habitacion-card{
        width: 25rem;
        background-color:aliceblue;
        padding: 0.5rem;
    }
}




